<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>books</display-name>
    <servlet>
  	<servlet-name>UserLoginServlet</servlet-name>
  	<servlet-class>com.books.control.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.books.control.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>com.books.control.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookReturnServlet</servlet-name>
    <servlet-class>com.books.control.BookReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReborrowServlet</servlet-name>
    <servlet-class>com.books.control.ReborrowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BorrowReturnServlet</servlet-name>
    <servlet-class>com.books.control.BorrowReturnServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserClServlet</servlet-name>
    <servlet-class>com.books.control.UserClServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserModifyServlet</servlet-name>
    <servlet-class>com.books.control.UserModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.books.control.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MICLServlet</servlet-name>
    <servlet-class>com.books.control.MICLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BICLServlet</servlet-name>
    <servlet-class>com.books.control.BICLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.books.control.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>com.books.control.InsertServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DLServlet</servlet-name>
    <servlet-class>com.books.control.DLServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CHServlet</servlet-name>
    <servlet-class>com.books.control.CHServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalUserInfoModifyServlet</servlet-name>
    <servlet-class>com.books.control.PersonalUserInfoModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalUserInfoServlet</servlet-name>
    <servlet-class>com.books.control.PersonalUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalUserPasswordModifyServlet</servlet-name>
    <servlet-class>com.books.control.PersonalUserPasswordModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BooksQueryServlet</servlet-name>
    <servlet-class>com.books.control.BooksQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BooksBorrowSevlet</servlet-name>
    <servlet-class>com.books.control.BooksBorrowSevlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminInfoModifyServlet</servlet-name>
    <servlet-class>com.books.control.AdminInfoModifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminInfoServlet</servlet-name>
    <servlet-class>com.books.control.AdminInfoServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookReturnServlet</servlet-name>
    <url-pattern>/BookReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReborrowServlet</servlet-name>
    <url-pattern>/ReborrowServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BorrowReturnServlet</servlet-name>
    <url-pattern>/BorrowReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserClServlet</servlet-name>
    <url-pattern>/UserClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserModifyServlet</servlet-name>
    <url-pattern>/UserModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MICLServlet</servlet-name>
    <url-pattern>/MICLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BICLServlet</servlet-name>
    <url-pattern>/BICLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DLServlet</servlet-name>
    <url-pattern>/DLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CHServlet</servlet-name>
    <url-pattern>/CHServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalUserInfoModifyServlet</servlet-name>
    <url-pattern>/PersonalUserInfoModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalUserInfoServlet</servlet-name>
    <url-pattern>/PersonalUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalUserPasswordModifyServlet</servlet-name>
    <url-pattern>/PersonalUserPasswordModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BooksQueryServlet</servlet-name>
    <url-pattern>/BooksQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BooksBorrowSevlet</servlet-name>
    <url-pattern>/BooksBorrowSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminInfoModifyServlet</servlet-name>
    <url-pattern>/AdminInfoModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminInfoServlet</servlet-name>
    <url-pattern>/AdminInfoServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>